*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background:#0c0c0c;
    color: #fff;
}
.profile{
    font-size: 30px;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo{
    width: 140px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 00%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 50px;
}
.header-text h1{
    font-size: 30px;
    margin-top: 20px;
    font-size: 60px;
    color: #7c7272;

}
.header-text p{
    color: #7c7272;

}
.header-text h1 span{
    color: #0084ff;
}
/* -----------------------------ABOUT---------------------- */
.pathani{
    height: 400px;
    width: 230px;
}
#about{
    padding: 80px 0px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 23%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis:70%;
}
.subtitle{
    font-size: 60px;
    color: white;

}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right:50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffee4f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 110%;
}
.tab-contents ul li{
    list-style: circle;
    margin: 10px 0px;
}
.tab-contents ul li span{
    color: #bbff00;
    font-size: 14px;
}
.tab-contents{
    display: none;

}
.tab-contents.active-tab{
    display: block;
}

/* <!-- -------------------------------------  Serviced  ----------------------------------- --> */

#services{
    padding:25px 0;
}

.service-list{
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
     margin-top: 50px;
}
.service-list div{
    background: #9e7bf1b4;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10PX;
    margin: 20px;
    box-shadow:  9px 9px 15px 1px rgb(128, 128, 128);
    transition: background 0.5s, transform 0.5s;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}
.service-list div:hover{
    background: #680ddf96;
    transform:scale(1.1);
    box-shadow:  7px 7px 15px 1px
}

/* <!-- -------------------------------------Portfolio----------------------------------- --> */

#portfolio{
    padding:50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-top: 50px;
    gap: 20px ;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1.1s;
}
.layer{
    height: 0;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #be6e87);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #4e3c3c;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

.contact-lefft{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 35%;
}
.contact-lefft p{
    color: #ff004f;
    margin: 15px;
    font-size: 20px;
}

.social-icon{
    margin: 30px 0px;
}
.social-icon i{
    font-size: 30px;
   
}

.social-icon a{
    text-decoration: none;
    font-size: 12px;
    margin-right: 25px;
    margin-bottom: 30px;
    color: #ababab;
    display: inline-block;
    height: 20px;
    width: 50px;
    box-shadow: #e20f0f;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-50px);
}
.btn2{
    text-decoration: none;
    height: 50px;
    width: 100px;
    background-color: #bbff00;
    padding: 10px;
    border-radius: 10px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    text-align: center;
    border: 0;
    outline: none;
    background: #262626;
    margin: 15px 0;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
}
form .btn2{
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    margin-top: 30px;
}


/* -------------------css media - screen --------------------- */
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        width: 100%;
        height: 100vh;
    }
    .header-text{
        margin-top: 45%;
        font-size: 16px;
        margin-left: 0px;
    }
    .header-text h1{
        font-size: 30px;
        color: #262626 ;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }

    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
        object-fit: cover;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-lefft, .contact-right{
        flex-basis: 120%;
    }
    .copyright{
        font-size: 10px;
    }
    .btn2{
        height: 20px;
        width: 30xp;
        padding: 7px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    form .btn2{
        height: 9vh;
        width: 45%;
        text-align: center;
        background: #bbff00;
        font-size: 20px;
        
        
    }
  


}